<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AnalyzeConnectionString" connectionString="Data Source=db\multiagent.s3db" providerName="System.Data.SqlLite"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
